.productos-container {
    font-family: 'Arial', sans-serif;
    color: #262322; /* Texto oscuro */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #FAE7C9 /* Fondo beige claro */
}

.product-card {
    background-color: #FFFFFF; /* Fondo blanco para las tarjetas */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 1px solid #E1C68F /* Borde marrón oscuro */
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #63372C; /* Precio en marrón oscuro */
    margin-bottom: 15px;
}

.buy-button {
    background-color: #E1C68F; /* Botón terracota */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.buy-button:hover {
    background-color:#E1C68F; /* Terracota más oscuro al hacer hover */
}

.favorite-button {
    background: none;
    border: none;
    color: #FFBCB5; /* Corazón rosa suave */
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease;
}

.favorite-button.active {
    color: #E1C68F; /* Corazón terracota cuando está activo */
}

.favorite-button:hover {
    color: #E1C68F; /* Corazón terracota al hacer hover */
}